<div class="container mt-5" style="max-width: 450px;">
  <h3>Forgot Password</h3>

  <input
    class="form-control my-3"
    type="email"
    placeholder="Enter your email"
    [(ngModel)]="email"
  />

  <button class="btn btn-primary w-100" (click)="submit()">
    Get Reset Token
  </button>

  <div class="text-danger mt-3" *ngIf="message">
    {{ message }}
  </div>

  <div class="alert alert-info mt-3" *ngIf="token">
    Your reset token: <b>{{ token }}</b>
  </div>

  <a routerLink="/reset-password">Go to Reset Password</a>
</div>