<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
      <a class="navbar-brand d-flex align-items-center">

  <img
    src="assets/images/logo.png"
    class="top-logo"
  />

  <span class="brand-text">
    GLOBAL TRADERS
  </span>

</a>
      <div class="navbar-nav ml-auto">
        <a class="nav-link" routerLink="/">Gallery</a
        ><a class="nav-link" routerLink="/cart" *ngIf="auth.loggedIn()">Cart</a
        ><a class="nav-link" routerLink="/admin" *ngIf="auth.isAdmin()">Admin</a
        ><a class="nav-link" routerLink="/login" *ngIf="!auth.loggedIn()"
          >Login</a
        ><a class="nav-link" routerLink="/register" *ngIf="!auth.loggedIn()"
          >Register</a
        ><a
          class="nav-link"
          href="#"
          *ngIf="auth.loggedIn()"
          (click)="auth.logout()"
          >Logout</a
        >
      </div>
    </nav>
    <div class="container mt-4"><router-outlet></router-outlet></div>
