<div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card p-4">
        <h3>Login</h3>
        <input
          class="form-control my-2"
          placeholder="Email"
          [(ngModel)]="email"
        /><input
          class="form-control my-2"
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
        /><button class="btn btn-primary btn-block" (click)="login()">
          Login
        </button>
        <p class="text-danger mt-2">{{ err }}</p>
        <small>Admin: admin@gallery.com / admin123</small>
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>
  </div>
