<div class="container mt-5" style="max-width: 450px;">
  <h3>Reset Password</h3>

  <input
    class="form-control my-3"
    type="text"
    placeholder="Enter reset token"
    [(ngModel)]="token"
  />

  <input
    class="form-control my-3"
    type="password"
    placeholder="Enter new password"
    [(ngModel)]="newPassword"
  />

  <button class="btn btn-success w-100" (click)="submit()">
    Reset Password
  </button>

  <div class="text-danger mt-3" *ngIf="message">
    {{ message }}
  </div>

  <a routerLink="/login">Back to Login</a>
</div>